#parse("views/header.vm")

<div class="row">
	<div class="col-sm-12">
		<h2>Message list</h2>
		<div class="container messages">
			<div class="row">
				<div class="col-sm-12">
				#if($mails.isEmpty())
					<p>No mails found</p>
				#else
					<div class="table-responsive">
						<table class="table">
							<thead>
								<th>File</th>
								<th>Date</th>
								<th>Subject</th>
								<th>From</th>
								<th>Addresses</th>
								<th>Content</th>
								<th>Action</th>
							</thead>
							<tbody>
							#foreach($mail in $mails)
								<tr>
									<td>${mail.File.Name}</td>
									<td>${mail.getCreationDate("yyyy/MM/dd HH:mm:ss")}</td>
									<td>${mail.Subject}</td>
									<td>${mail.From}#if("$mail.ReplyTo" != ""), $mail.ReplyTo#end</td>
									<td>
									#set($to=$mail.getEmailAddressesAsString("to"))
									#set($cc=$mail.getEmailAddressesAsString("cc"))
									#set($bcc=$mail.getEmailAddressesAsString("bcc"))
										<ul class="address-list">
											#if("$!to" != "")<li><strong>TO</strong> <span>$to</span></li>#end
											#if("$!cc" != "")<li><strong>CC</strong> <span>$cc</span></li>#end
											#if("$!bcc" != "")<li><strong>BCC</strong> <span>$bcc</span></li>#end
										</ul>
									</td>
									<td><span class="mail-body-excerpt">${mail.getExcerpt(120)}</span></td>
									<td>
										<ul class="actions">
											<li><a href="/default/view/${mail.FileName}">View</a></li>
										</ul>
									</td>
								</tr>
							#end
							<tbody>
						</table>
					</div>
				#end
				</div>
			</div>
		</div>
	</div>
</div>

#parse("views/footer.vm")