#parse("views/header.vm")

<div class="row" id="$id">
	<div class="col-sm-12">
		<h2>${mail.Subject}</h2>
		<h3>Addresses: </h3>
		<dl>
			<dt>From: </dt><dd>${mail.getFrom()}</dd>
			<dt>Reply-TO: </dt><dd>${mail.getReplyTo()}</dd>
			<dt>To: </dt><dd>${mail.getEmailAddressesAsString("to")}</dd>
			<dt>CC: </dt><dd>${mail.getEmailAddressesAsString("cc")}</dd>
			<dt>BCC: </dt><dd>${mail.getEmailAddressesAsString("bcc")}</dd>
		</dl>
		<h3>Content: </h3>
		<pre>${mail.getContent()}</pre>
		<h3>Attachments: </h3>
		<ul>
		#foreach($attachment in $mail.Attachments)
			<li>$attachment</li>
		#end
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<a href="/">Back</a>
	</div>
</div>

#parse("views/footer.vm")