.header {
	border-top: 1px solid #cfcfcf;
}

.footer {
	border-top: 1px solid #cfcfcf;
	font-size: 95%;
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
}

.footer ul.references {
	list-style: none;
	display: inline-block;
	text-align: left;
	margin: 0;
	padding: 0;
}

.footer ul.references li {
	display: inline-block;
}

.footer ul.references li > *:before {
	content: "|";
	margin-left: 1em;
	margin-right: 1em;
}

.footer ul.references li:first-child > *:before {
	content: "";
	margin: 0;
}